@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Poppins', sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
  transition: 1s;
}

nav{
  /* background-color: #978585b0; */
  padding: 19px 90px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  right: 0;
  transition: all 0.3s ease-in-out;
}

nav.black{
  background-color: #2864A4;
}

nav.black a:hover{
  color: #000;
}

nav ul{
  display: flex;
  gap: 18px;
  font-size: 1.2rem;
  font-weight: 600;
}

nav ul a{
  color: #fff;
}

nav ul a:hover{
  color: #2157bd ;
}

.logo{
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 70px;
  background-color: #2864A4;
}


/* ........................................................Front component.............................................. */
.container{
  background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(src/assets/three.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contain{
  padding: 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.content{
  margin-top: 100px;
}
.content .p{
  font-size: 18px;
}
.content h2{
  font-size: 60px;
}
.content h3{
  font-size: 27px;
  margin-bottom: 30px;
}

.container img{
  width: 350px;
  border: 15px solid #252525ce;
  border-radius: 50%;
}

/* .content ul{
  margin-top: 20p;
} */

.content li{
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  gap: 10px;
  font-size: 19px;
}

.content li:hover svg{
  color: rgba(255, 255, 255, 0.87);
}
.content svg{
  font-size: 1.4rem;
  color: #2864A4;
}

.content ul a{
  display: block;
  width: 100%;
  font-size: 1.1rem;
}

.content ul span{
  font-size: 1.1rem;
}

.content a, span{
  color: rgba(255, 255, 255, 0.87);
}


/* ...............................................About component........................................... */
.sec2{
  display: flex;
  padding: 140px 90px 10px;
  gap: 30px;
  /* height: 100vh; */
}
.abt{
  margin-bottom: 18px;
  margin-left: 7px;
}

.sec2 img{
  width: 400px;
  /* height: 300px; */
}

.sec2 h2{
  font-size: 2.5rem;
  font-weight: 800;
  /* margin-bottom: 10px; */
  /* color: #2157bd; */
}

.sec2 p{
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.8;
}

.sec2 .code span{
  border: 2px solid #2864A4;
  font-size: 16px;
  padding: 3px;
  margin-right: 10px;
  border-radius: 4px;
  /* margin-bottom: 20px; */
}
.btn{
  margin-top: 30px;
}
.btn a{
  padding: 10px 14px;
  background-color: #2864A4;
  border-radius: 30px;
  color: #fff;
  display: flex;
  width: 200px;
  text-align: center;
  align-items: center;
  font-size: 19px;
  border: 2px solid #2864A4;
}

.btn a:hover{
  background-color: transparent;
  /* color: #28438d; */
}

.btn svg{
  margin-left: 10px;
  font-size: 26px;
}

/* ...................................................Ed card.................................... */
.ed-card{
  padding: 30px;
  background-color: #191a1a;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 3px 3px 6px 1px #4746465b;
  /* border: 3px solid #2864A4; */
}
.ed-card h4{
  font-size: 20px;
  font-style: oblique;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.ed-card h5{
  margin: 11px 0;
  font-size: 18px;
  font-weight: 700;
}

.ed-card p{
  font-size: 13px;
  color: #2864A4;
}

/* .......................................................Education component...................................... */
.ed{
  padding: 130px 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ed h2{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  /* margin-bottom: 70px; */
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 70px;
}


/* ................................................service component.......................................... */
.service{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 90px 130px;
}

.service h2{
  font-size: 2.5rem;
}

.line{
  height: 7px;
  width: 180px;
  background-color: #1e4e85;
  border-radius: 8px;
}

.serv{
  margin: 0 0 18px 0;
}

.servgrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 75px;
  margin-top: 70px;
}

/* .................................................servcard component............................................ */
.servcard{
  height: 310px;
  width: 300px;
  border-radius: 10px;
  background-color: #191a1a;
  box-shadow: 3px 3px 6px 1px #4746465b;
  /* border: 3px solid #2864A4; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

/* ...................................................Contact component............................................... */
.contact h2{
  font-size: 2.5rem;
}

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}